In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import sys
sys.path.append(r'c:\Users\M1SRH\Documents\Spyder_Projects\BioFormatsRead')
import bfimage as bf

# specify where to find the bioformats_package.jar - modify path to your needs
bfpath = r'c:\Users\M1SRH\Documents\Software\BioFormats_Package\5.1.8\bioformats_package.jar'
bf.set_bfpath(bfpath)

'c:\\Users\\M1SRH\\Documents\\Software\\BioFormats_Package\\5.1.8\\bioformats_package.jar'

In [2]:
# define the file
filename = r'c:\Users\M1SRH\Documents\Spyder_Projects_Testdata\CZI_Read\2x2_SNAP_CH=2_Z=5.czi'

# read the plane information from the metadata and create a pandas dataframe
df = bf.get_planetable(filename, writecsv=True, separator=',')

# show first rows of the dataframe containing the plane infos
df[:9]

T:  1 Z:  5 C:  2 X:  640 Y:  640
Start reading the plane data  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . Done.

Writing CSV file:  c:\Users\M1SRH\Documents\Spyder_Projects_Testdata\CZI_Read\2x2_SNAP_CH=2_Z=5.csv

   IMAGEID  Plane  TheC  TheZ  TheC     XPos     YPos     ZPos  DeltaT
0        0      0     0     0     0  37971.2  12971.2  37971.2   0.000
1        0      1     0     0     1  37971.2  12971.2  37971.2   0.113
2        0      2     0     1     0  37971.2  12971.2  37971.2   0.369
3        0      3     0     1     1  37971.2  12971.2  37971.2   0.491
4        0      4     0     2     0  37971.2  12971.2  37971.2   0.748
5        0      5     0     2     1  37971.2  12971.2  37971.2   0.836
6        0      6     0     3     0  37971.2  12971.2  37971.2   1.095
7        0      7     0     3     1  37971.2  12971.2  37971.2   1.232
8        0      8     0     4     0  37971.2  12971.2  37971.2   1.486

In [3]:
# just for fun - show last acquistion time
round(df['DeltaT'].max(),3)

5.692